.link {
    color: white;
    text-decoration: none;                 /* Aucune décoration */
}

.row-details {
    display: flex;
    flex-direction: column;
    /* width: 100%; */
}

.cell-details {
    width: 100%;
}

.table{
    margin: -2%;
}